/*
    *** BASE CSS ***
*/

:root{
    /* --vertclair:#81B622; */
    --vertclair:#BACC81;
    --vert: #658a1a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 6rem;
    margin: 0rem 0 2.5rem 0;
}

h2, h3{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

a{        
    text-decoration: none;
}

body a:hover{
    color: var(--vertclair)
}

header a:hover, footer a:hover{
    color: var(--vert);
}

.booking-btn {
    color: white;
    background-color: var(--vert);
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    margin-right: 1rem;    
    margin-top: -0.8rem;
    box-shadow: 0 0 7px rgb(0 0 0 / 20%);
}

/*
    *** HEADER ***
*/

header{
    background-color: var(--vertclair);
    padding: 2rem 0rem;
}

header a{
    color: white;
}

header p{
    color: white;
}

header ul li{
    list-style: none;    
    padding: 0rem 1.5rem;
}

header .booking-btn-header a:hover{
    color: var(--vertclair);
}


/*
    *** PAGE HOME ***
*/

#home .presentation{
    text-align: center;
}


/*
    *** PAGE ROOMS ***
    (with all rooms)
*/

#rooms .card-body > a{
    color: var(--vert);
}


/*
    *** PAGE ROOM ***
    (for double, family and twin room)
*/

#room .carousel .carousel-item {
    height: 500px;
  }
  
#room .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: -185px;
      left: 0;
      min-height: 500px;
  }

#room .rooms-links a{
    font-size: 1.3rem;
    padding: 2rem 1rem 0 1rem;
    text-decoration: underline;
    color: var(--vert);
}

#room .room-list li{
    list-style: none;    
    padding: 2rem 1.5rem;
    font-size: 1.5rem;
    color: var(--bleu);
}

#room .boxes div{
    text-align: center;
    padding: 0 2rem;
}

#room .boxes ul{     
    padding: 0rem;
}

#room .boxes li{    
    list-style: none;
}

#room .fas{
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
}

#room .general-amenities div{
    padding: 0 4rem;
}

/*
    *** FOOTER ***
*/

footer{
    background-color: var(--vertclair);
    color: white;
    margin-top: 4rem;
}

footer a{
    color: white
}

footer div{
    text-align: center;
}

footer .middle-div{
    border-left: solid 0.01rem var(--vert);
    border-right: solid 0.01rem var(--vert);
}

footer .fas{
    font-size: 2rem;
    border-bottom: solid;
    padding-bottom: 1.2rem;
}

footer .footer-last-section{
    font-size: 0.8rem;    
    border-top: solid 0.01rem var(--vert);
    padding: auto 0 !important;
    background-color: var(--vert);
    padding-right: 1rem;
    padding-left: 7rem;
}


/*
    ** RESPONSIVE **
*/
/* mobile */
/* between 0 and 767px */

@media screen and (max-width:767px){

    *{
        margin-right: 0;
    }
    header{
        padding: 1.5rem;
    }

    header h1{
        text-align: center;
        margin-top: 1rem;
    }

    header ul li{
        padding: 0rem 0.25rem !important;
        text-align: center;
    }

    header .tel{
        display: none;
    }

    .booking-btn-header{
        margin-left: 7rem;
    }

    .map-responsive{
        width: 300px;
        height: 300px;
    }

    .map-responsive iframe{
        width: 300px;
        height: 300px;
    }

    #rooms section{
        display: flex;
        flex-direction: column;
    }

    #rooms .card{
        width: 18rem !important;
    }

    footer .middle-div{
        border-top: solid 0.01rem var(--vert);
        border-bottom: solid 0.01rem var(--vert);
        border-left: none;
        border-right: none;
    }
    
}


